/**
 * Application initial colors
 */

 $black: #0d0d0d;
 $white: #ffffff;



$primaryGrey: #999999;
$primaryBlockGrey: #232323e6;
$primaryFooterGrey: #232323;
$primaryLightGrey: #e8e8e8;
$primaryDarkGrey: #333333;

$primaryBlue: #5474fd; 
$primaryBlueButton: #496bfe;